/* Apply a basic reset to remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the body with a Google Font, full height, and a light background */
body {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff0095;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

/* Style the container for the calculator */
#app {
  background-color: #ffffff;
  border: 5px solid #000000; /* Lighter border to simulate the edge of paper */
  padding: 2em;
  box-shadow:
    4px 4px  rgba(0, 0, 0),
    8px 8px  rgba(0, 0, 0),
    12px 12px  rgba(0, 0, 0),
    16px 16px  rgba(0, 0, 0),
    20px 20px  rgba(0, 0, 0);
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

/* Add styles to the heading */
h1 {
  font-size: 1.5em;
  color: #5f6368;
  text-align: center;
  margin-bottom: 1em;
}

/* Style the input fields with padding and borders */
input[type="number"] {
  padding: 10px;
  background-color: white;
  border: 2.5px solid #000000;
  margin-bottom: 0.5em; /* Add space below each input */
  width: calc(100% - 22px); /* Adjust width, consider padding and border */
  font-size: 1em;
}

/* Style the button with a color, padding, and interactive effects */
button {
  padding: 10px 20px;
  background-color: #35e8d9;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  width: 100%; /* Make button full width */
  box-sizing: border-box; /* Include padding in width calculation */
  transition: background-color 0.3s;
  margin-bottom: 0.5em; /* Add space below button */
}

/* Change background color on hover for the button */
button:hover {
  background-color: #35e8d9;
}

/* Style the result area */
#result {
  padding: 10px;
  background-color: #ddd;
  color: #202124;
  text-align: center;
}

/* Ensure inputs and button take full width */
#app > input, #app > button {
  width: 100%;
  display: block;
}
